<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>exam1-twitter</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

 <section class="main-header">
   <p class="flash"><%= notice %><%= alert %></p>
   <%= link_to image_tag('twitter.png'), tweets_path %>
 </section>

 <section class="about">
  <p id="notice"><%= notice %></p>
  <h1>About exam1-twitter</h1>
  <p>
    exam1-twitterは、テスト用アプリです。<br>
  </p>
 </section>

</body>
</html>
